<div class="list-three-items">
    <div class="mansory-layout">
        <div class="grid-item item item-2-width">
          {% if block.settings.image_1 != blank%}
          <div class="mansory-item-wrapper">
              <a href="{{ collection_1.url }}" class=" mansory-item">
                {%- assign url_image_1 = block.settings.image_1 | img_url:'800x'-%}
                <img data-src="{{url_image_1}}" alt="{{block.settings.image_1.alt | default: shop.name}}" {% render 'lazyload'%}>
              </a>
              {% if collection_1 != blank%}
              <div class="banner-content ">
                <div class="collections-wrapper">
                  <h3 class="collection-title">
                    <a href="{{ collection_1.url }}" title="{{ 'collections.general.link_title' | t: title: collection_title }}">
                      {{collection_1.title }}
                    </a>
                  </h3>
                  <span class="count-products">
                    {{ 'collections.general.items_with_count' | t: count: collection_1.all_products_count }}
                  </span>
                  <a href="{{ collection_1.url }}" class="btn collections-btn btn-two">
                    {{ 'collections.general.shop_now' | t }}
                  </a>
                </div>
              </div>
              {% endif %}
          </div>
          {% else %}
              <div class="no-image animate-scale " style="padding-top:90%; font-size:20px"><span> 570 x 520px</span></div>
            {% endif %}
        </div>
    <div class="grid-item item item-2-width-pc">
          <div class="item-child">
            {% if block.settings.image_2 != blank%}
            <div class="mansory-item-wrapper">
              <a href="{{ collection_2.url }}" class=" mansory-item">
                 {%- assign url_image_2 = block.settings.image_2 | img_url:'800x'-%}
                <img data-src="{{url_image_2}}" alt="{{block.settings.image_2.alt | default: shop.name}}" {% render 'lazyload'%}>
              </a>
                {% if collection_2 != blank%}
                <div class="banner-content ">
                  <div class="collections-wrapper">
                    <h3 class="collection-title">
                      <a href="{{ collection_2.url }}" title="{{ 'collections.general.link_title' | t: title: collection_title }}">
                        {{collection_2.title }}
                      </a>
                    </h3>
                    <span class="count-products">
                      {{ 'collections.general.items_with_count' | t: count: collection_2.all_products_count }}
                    </span>
                    <a href="{{ collection_2.url }}" class="btn collections-btn btn-two">
                      {{ 'collections.general.shop_now' | t }}
                    </a>
                  </div>
                </div>
                {% endif %}
            </div>
            {% else %}
              <div class="no-image animate-scale mansory-item" style="padding-top:90%; font-size:20px"><span> 570 x 520px</span></div>
              {% endif %}
          </div>
        </div>
      <div class="grid-item item item-2-height item-custom">
          {% if block.settings.image_3 != blank%}
          <div class="mansory-item-wrapper">
            <a href="{{ collection_3.url }}" class="mansory-item">
               {%- assign url_image_3 = block.settings.image_3 | img_url:'800x'-%}
              <img data-src="{{url_image_3}}" alt="{{block.settings.image_3.alt | default: shop.name}}" {% render 'lazyload'%}>
            </a>
            
              {% if collection_3 != blank%}
                <div class="banner-content ">
                  <div class="collections-wrapper">
                    <h3 class="collection-title">
                      <a href="{{ collection_3.url }}" title="{{ 'collections.general.link_title' | t: title: collection_title }}">
                        {{collection_3.title }}
                      </a>
                    </h3>
                    <span class="count-products">
                      {{ 'collections.general.items_with_count' | t: count: collection_3.all_products_count }}
                    </span>
                    <a href="{{ collection_3.url }}" class="btn collections-btn btn-two">
                      {{ 'collections.general.shop_now' | t }}
                    </a>
                  </div>
                </div>
                {% endif %}
          </div>
          {% else %}
          <div class="no-image animate-scale  mansory-item-wrapper" style="padding-top:185.4%; font-size:20px"><span> 570 x 1070px </span></div>
          {% endif %}
        </div>
    </div>
</div>
