{% render 'style-footer' %}

<footer class="site-footer" role="contentinfo">
    {% if section.blocks.size > 0 or section.settings.footer_newsletter_enable  %}
    <div class="footer-top lazyload lazy "{% if section.settings.bg_footer_img == 'bg-footer' and section.settings.bg-footer-img != blank %} data-bgset="{{ section.settings.bg-footer-img | img_url: '2048x' }}" {% endif %}>  
        <div class="container-2">
            <div class="row">
                {% if section.settings.footer_newsletter_enable  %}
                    {%if section.settings.footer_newsletter_enable %}
                    <div class="footer-newsletter">
                        {% if section.settings.footer_newsletter_title != blank %}
                        <h3 class="newsletter-title foot-title">
                        {% render 'multilang' with section.settings.footer_newsletter_title %}
                        </h3>
                        {% endif %}

                        {% if section.settings.footer_newsletter_des != blank %}
                            <p class="newsletter-des">
                                {% render 'multilang' with section.settings.footer_newsletter_des %}
                            </p>
                        {% endif %}
                        
                        {% render 'homepage-block-newsletter' %}
                    </div>
                    {% if section.settings.footer_social_enable %}
                    <div class="footer-social{% if settings.header_layout == 'vertical' %} enable-color{% endif %}">
                        {% render 'social-media' %}
                    </div>
                    {% endif %}
                    {% endif %}
                {% endif %}
            </div>    
        </div>
    </div>
    {% endif %}
    
    {% if section.settings.menu_footer != blank or section.settings.show_payment_icons %}
    <div class="footer-bottom">
        <div class="container-fluid">
			<div class="row">
                <div class=" col-12 col-xl-2 col-lg-12 col-sm-12 footer-logo">
                  {% if section.settings.brand_type == 'image' and section.settings.logo_pc != bank %}
                  <a class="logo-img" href="{{ routes.root_url }}" title="Logo">
                    <img data-src="{{ section.settings.logo_pc | img_url: 'master' }}"
                         alt="{{ section.settings.logo_pc.alt | default: shop.name }}" itemprop="logo" {%render 'lazyload' %} >
                  </a>
                  {% elsif section.settings.brand_text != '' %}
                  <a class="logo-title" href="{{ routes.root_url }}">
                    {{ section.settings.brand_text }}
                  </a>
                  {% else %}
                  <a class="logo-title" href="{{ routes.root_url }}">
                    {{ shop.name }}
                  </a>
                  {% endif %}
                </div>
              <div class=" col-12 col-lg-12 col-xl-6 col-sm-12 footer-menu">
                {%if section.settings.menu_footer != blank %}
                <ul class="site-nav">
                  {%for add_link in linklists[section.settings.menu_footer].links %}
                  <li>
                    <a href="{{add_link.url}}">
                      {%render 'multilang' with add_link.title%}
                    </a>
                  </li>
                  {%endfor%}
                </ul>
                {%endif%}
              </div>
            
              {% if section.settings.show_payment_icons %}
              <div class="col-12 col-xl-4 col-lg-12 col-sm-12 footer_payment">
                {% assign payment_string = 'visa,visa_electron,master,maestro,american_express,solo,amazon_payments,apple_pay,bitcoin,cirrus,dankort,diners_club,discover,shopify,paypal,dogecoin,dwolla,forbrugsforeningen,interac,jcb,litecoin,stripe,sage,wallet' %}
                {% assign methods = payment_string | split: ',' %}

                <ul class="payment-methods">	
                  {% for method in methods %}
                  {%- assign display_current_method = method | prepend: 'payment_display_' -%}
                  {% if section.settings[display_current_method] %}
                  {%- assign current_method_icon = method | prepend: 'icon_' -%}
                  <li>
                    <img data-src="{{ section.settings[current_method_icon] | img_url: 'x150' }}" alt="{{ method }}" {% render 'lazyload' %}>
                  </li>
                  {% endif %}
                  {% endfor %}
                </ul>
              </div>
              {% endif %}
          </div>
          {% if section.settings.footer_address_code != blank %}
          <div class=" footer_address">
            <address>
              {% if settings.enable_multilang %}
              <div class="lang1">
                {{ section.settings.footer_address_code | split: '[lang2]' | first }}
              </div>
              <div class="lang2">
                {{ section.settings.footer_address_code | split: '[lang2]' | last }}
              </div>
              {% else %}
              <div>
                {{ section.settings.footer_address_code | split: '[lang2]' | first }}
              </div>
              {% endif %}
            </address>
          </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
</footer>


{% schema %}
  {
    "name": "Footer",
	"max_blocks": 4,
	"blocks": [	  
	  
	],
    "settings": [
	  {
        "type": "header",
        "content": "Footer Background"
      },
      {
        "type": "radio",
        "id": "bg_footer_img",
        "label": "Background image",
        "options": [
          {
            "value": "bg-footer",
            "label": "Uploaded image"
          },
          {
            "value": "none",
            "label": "Background color (no image)"
          }
         
        ],
        "default":"none"
      },
      {
        "type": "color",
        "id": "bg_footer_color",
        "label": "Background color",
        "default": "#232323"
      },
      {
        "type": "radio",
        "id": "bg_footer_position_x",
        "label": "Horizontal position",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "radio",
        "id": "bg_footer_position_y",
        "label": "Vertical position",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ]
      },
      {
        "type": "select",
        "id": "bg_footer_repeat",
        "label": "Repeat",
        "options": [
          {
            "value": "repeat",
            "label": "Horizontally and vertically"
          },
          {
            "value": "repeat-x",
            "label": "Horizontally only"
          },
          {
            "value": "repeat-y",
            "label": "Vertically only"
          },
          {
            "value": "no-repeat",
            "label": "Don't repeat"
          }
        ]
      },
      {
        "type": "select",
        "id": "bg_footer_attachment",
        "label": "Attachment",
        "options": [
          {
            "value": "scroll",
            "label": "Scroll"
          },
          {
            "value": "fixed",
            "label": "Fixed"
          }
        ]
      },
      {
        "type": "image_picker",
        "id": "bg-footer-img",
       "label": "Upload a new image"
      },      
      
	  {
        "type": "header",
        "content": "Newsletter"
      },
      {
        "type": "checkbox",
        "id": "footer_newsletter_enable",
        "label": "Show newsletter signup?",
        "default": false
      },
	  {
        "type": "text",
        "id": "footer_newsletter_title",
        "label": "Footer Newsletter Title",
        "default":"Newsletter Signup"
      }, 
      {
        "type":"text",
        "id":"font_size_new_title",
        "label":" Font size",
        "default":"50px"
      },
      {
        "type":"color",
        "id":"color_new_title",
        "label":"Color",
        "default":"#fff"
      },
      {
        "type": "textarea",
        "id": "footer_newsletter_des",
        "label": "Footer Newsletter Descriptions"
      },
      {
        "type":"text",
        "id":"font_size_new_descriptions",
        "label":" Font size",
        "default":"16px"
      },
      {
        "type":"color",
        "id":"color_new_descriptions",
        "label":"Color",
        "default":"#fff",
       "info":"=============="
      },
	  {
        "type": "color",
        "id": "bg_newsletter_color",
        "label": "Newsletter Input Background Color",
        "default": "#fff"
      },
	  {
        "type": "color",
        "id": "newsletter_color",
        "label": "Newsletter Input Color",
        "default": "#717171"
      },
	  {
        "type": "color",
        "id": "newsletter_border_color",
        "label": "Newsletter Input Border Color",
        "default": "#fff"
      },
	  {
        "type": "color",
        "id": "bg_newsletter_button_color",
        "label": "Background and Border Newsletter Button Color",
        "default": "#296fc2"
      },
	  {
        "type": "color",
        "id": "newsletter_button_color",
        "label": "Newsletter Button Color",
        "default": "#fff"
      },

	  {
        "type": "header",
        "content": "Social"
      },
      {
        "type": "checkbox",
        "id": "footer_social_enable",
        "label": "Show social media links?",
        "default": true
      },
      {
        "type": "color",
        "id": "footer_social_color",
        "label": "Icon Social Color",
        "default": "#fff"
      },
 	  {
        "type": "header",
        "content": "Footer Bottom"
      },
		{
        "type": "color",
        "id": "footer_bottom_backg",
        "label": "Background Color",
        "default": "#fff"
      },
      {
        "type": "header",
        "content": "Logo Footer"
      },
      {
        "type": "radio",
        "id": "brand_type",
        "label": "Use image or text for logo?",
        "options": [
        {
          "value": "text",
          "label": "Text"
        },
        {
          "value": "image",
          "label": "Image"
        }
        ],
          "default": "text"
      },
      {
        "type": "text",
        "id": "brand_text",
        "label": "Logo text"
      },
        
      {
        "type": "image_picker",
        "id": "logo_pc",
        "label": "Logo image for PC",
        "info": "95px x 44px recommended"
      },
      {
        "type": "text",
        "id": "max_height_logo_pc",
        "label": "Max Height of Logo PC",
        "default": "36px" 
      },  
      {
        "type": "header",
        "content": "Footer Address"
      },
      {
        "type": "textarea",
        "id": "footer_address_code",
        "label": "Footer Address Code"
      },
	  {
        "type":"color",
        "id":"color_address",
        "label": "Address Color",
        "default": "#73788a"
      },
      {
        "type": "header",
        "content": "Footer Menu"
      },
		 {
        "type": "link_list",
        "id": "menu_footer",
        "label": "Footer Menu"
      },
       {
        "type":"color",
        "id":"color_nav_footer",
        "label": "Nav Color",
        "default": "#73788a"
      },
      
      {
        "type": "header",
        "content": "Footer Payment"
      },
		 {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      },
 	 {
        "type": "header",
        "content": "Display payment icons for"
      },
      {
        "type": "checkbox",
        "id": "payment_display_visa",
        "label": "Visa"
      },
      {
        "type": "checkbox",
        "id": "payment_display_visa_electron",
        "label": "Visa Electron"
      },
	  {
        "type": "checkbox",
        "id": "payment_display_american_express",
        "label": "American Express"
      },
      {
        "type": "checkbox",
        "id": "payment_display_master",
        "label": "Master"
      },
      {
        "type": "checkbox",
        "id": "payment_display_maestro",
        "label": "Maestro"
      },
      {
        "type": "checkbox",
        "id": "payment_display_solo",
        "label": "Solo"
      },
      {
        "type": "checkbox",
        "id": "payment_display_shopify",
        "label": "Shopify"
      },
      {
        "type": "checkbox",
        "id": "payment_display_paypal",
        "label": "Paypal"
      },
      {
        "type": "checkbox",
        "id": "payment_display_amazon_payments",
        "label": "Amazon Payments"
      },
      {
        "type": "checkbox",
        "id": "payment_display_apple_pay",
        "label": "Apple Pay"
      },
      {
        "type": "checkbox",
        "id": "payment_display_bitcoin",
        "label": "Bitcoin"
      },
      {
        "type": "checkbox",
        "id": "payment_display_cirrus",
        "label": "Cirrus"
      },
      {
        "type": "checkbox",
        "id": "payment_display_dankort",
        "label": "Dankort"
      },
      {
        "type": "checkbox",
        "id": "payment_display_diners_club",
        "label": "Diners Club"
      },
      {
        "type": "checkbox",
        "id": "payment_display_discover",
        "label": "Discover"
      },
      {
        "type": "checkbox",
        "id": "payment_display_dogecoin",
        "label": "Dogecoin"
      },
      {
        "type": "checkbox",
        "id": "payment_display_dwolla",
        "label": "Dwolla"
      },
      {
        "type": "checkbox",
        "id": "payment_display_forbrugsforeningen",
        "label": "Forbrugsforeningen"
      },
      {
        "type": "checkbox",
        "id": "payment_display_interac",
        "label": "Interac"
      },
      {
        "type": "checkbox",
        "id": "payment_display_jcb",
        "label": "JCB"
      },
      {
        "type": "checkbox",
        "id": "payment_display_litecoin",
        "label": "Litecoin"
      },
      {
        "type": "checkbox",
        "id": "payment_display_stripe",
        "label": "Stripe"
      },
	  {
        "type": "checkbox",
        "id": "payment_display_sage",
        "label": "Sage"
      },
	  {
        "type": "checkbox",
        "id": "payment_display_wallet",
        "label": "Google Wallet"
      },
      {
        "type": "image_picker",
        "id": "icon_visa",
        "label": "Visa image"
      },
      {
        "type": "image_picker",
        "id": "icon_visa_electron",
        "label": "Visa Electron image"
      },
      {
        "type": "image_picker",
        "id": "icon_master",
        "label": "Master image"
      },
	  {
        "type": "image_picker",
        "id": "icon_american_express",
        "label": "American Express image"
      },
      {
        "type": "image_picker",
        "id": "icon_maestro",
        "label": "Maestro image"
      },
     
      {
        "type": "image_picker",
        "id": "icon_solo",
        "label": "Solo image"
      },
      {
        "type": "image_picker",
        "id": "icon_shopify",
        "label": "Shopify image"
      },
      {
        "type": "image_picker",
        "id": "icon_paypal",
        "label": "Paypal image"
      },
      {
        "type": "image_picker",
        "id": "icon_amazon_payments",
        "label": "Amazon Payments image"
      },
      {
        "type": "image_picker",
        "id": "icon_apple_pay",
        "label": "Apple Pay image"
      },
      {
        "type": "image_picker",
        "id": "icon_bitcoin",
        "label": "Bitcoin image"
      },
      {
        "type": "image_picker",
        "id": "icon_cirrus",
        "label": "Cirrus image"
      },
      {
        "type": "image_picker",
        "id": "icon_dankort",
        "label": "Dankort image"
      },
      {
        "type": "image_picker",
        "id": "icon_diners_club",
        "label": "Diners Club image"
      },
      {
        "type": "image_picker",
        "id": "icon_discover",
        "label": "Discover image"
      },
      {
        "type": "image_picker",
        "id": "icon_dogecoin",
        "label": "Dogecoin image"
      },
      {
        "type": "image_picker",
        "id": "icon_dwolla",
        "label": "Dwolla image"
      },
      {
        "type": "image_picker",
        "id": "icon_forbrugsforeningen",
        "label": "Forbrugsforeningen image"
      },
      {
        "type": "image_picker",
        "id": "icon_interac",
        "label": "Interac image"
      },
      {
        "type": "image_picker",
        "id": "icon_jcb",
        "label": "JCB image"
      },
      {
        "type": "image_picker",
        "id": "icon_litecoin",
        "label": "Litecoin image"
      },
      {
        "type": "image_picker",
        "id": "icon_stripe",
        "label": "Stripe image"
      },
	  {
        "type": "image_picker",
        "id": "icon_sage",
        "label": "Sage image"
      },
	  {
        "type": "image_picker",
        "id": "icon_wallet",
        "label": "Google Wallet image"
      }
    ]	
  }
{% endschema %}
