{% assign on_sale = false %}
{% if product.variants[0].compare_at_price > product.variants[0].price %}
  {% assign on_sale = true %}
{% endif %}
{% assign sold_out = true %}
{% if product.available  %}
  {% assign sold_out = false %}
{% endif %}
{% case section.settings.collection_results_per_row1 %}
  {% when '2' %}
    {%- assign grid_item_width = 'col-6' -%}
  {%- assign row = 'two-items' -%}
  {% when '3' %}
    {%- assign grid_item_width = 'col-6 col-md-4' -%}
  {%- assign row = 'three-items' -%}
  {% when '4' %}
    {%- assign grid_item_width = 'col-6 col-md-4 col-lg-3' -%}
  {%- assign row = 'four-items' -%}
  {% when '5' %}
    {%- assign grid_item_width = 'col-6 col-md-4 col-lg-3 col5' -%}
  {%- assign row = 'five-items' -%}
  {% when '6' %}
    {%- assign grid_item_width = 'col-6 col-md-4 col-lg-3 col-xl-2' -%}
  {%- assign row = 'six-items' -%}
{% endcase %}

<div class="featured-products featured-products-list-product-col " id="featured-products-{{section.id}}" {% if section.settings.collection_featured_layout == "carousel" %} data-featured-products {% endif %}>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12">
        {% if section.settings.featured_products_title != blank %}
        <div class="widget-title">   
          <h3 class="box-title">
            <span class="title"> 
              {% render 'multilang' with section.settings.featured_products_title %}
            </span>
          </h3>
        </div>
        {% endif %}

        <div class="widget-product">
          <div class="products-grid row {{ row }}" data-row="{{ section.settings.collection_results_per_row1 }}">
            {% for product in collections[section.settings.show_slider_featured_collection].products limit:section.settings.slider_featured_limit_all %}
            <div class="grid-item {{ grid_item_width }}{% if settings.product_image_border %} grid-item-border{% endif %} ">
              {% render 'product-grid-item' with product as product %}
            </div>

            {% else %}
            {% for product in (1..section.settings.slider_featured_limit_all) %}
            <div class="grid-item {{ grid_item_width }}">
              <div class="grid-view-item no-product">
                <div class="product-top">
                  <div class="no-image animate-scale" style="padding-top:90%;font-size:20px;">
                    <span>Product Img</span>
                  </div>
                </div>

                <div class="product-bottom">
                  <div class="product-title">
                    <span>
                      Your product's name
                    </span>
                  </div>

                  <div class="price-box">
                    <span> $350.00 </span>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  {% assign color_title =  section.settings.color_title %}
  #featured-products-{{section.id}} .widget-title .box-title {
    color:{{color_title}};
    font-size:{{section.settings.size_title}};
  }
  @media(max-width: 767px){
    #featured-products-{{section.id}} .widget-title .box-title {
      font-size:30px;
    }
  }
</style>

{% schema %}
  {
    "name": "Editors Picks",
  "class": "editors-picks-sections",
    "settings": [ 
    {
      "type": "header",
      "content": "Editors Picks"
    },
      {
        "type": "text",
        "id": "featured_products_title",
        "label": "Title",
        "default": "Editors Picks"
      },
       {
        "type":"color",
        "id":"color_title",
        "label":"Title Color",
        "default":"#000d41"
      },
      {
        "type":"text",
        "id":"size_title",
        "label":"Title Size",
        "default":"50px"
      },
      {
        "type": "collection",
        "id": "show_slider_featured_collection",
        "label": "Collection to use"
      },
      {
        "type": "range",
        "id": "slider_featured_limit_all",
        "label": "Number of new products to show",
        "min": 3,
        "max": 20,
        "step": 1,
        "default": 10
      },
      {
        "type": "select",
        "id": "collection_featured_layout",
        "label": "Feature layouts",
        "options": [
          {
            "value": "grid",
            "label": "Grid"
          },
          {
            "value": "carousel",
            "label": "Carousel"
          }
        ],
        "default": "carousel"
      },
      {
        "type": "select",
        "id": "collection_results_per_row1",
        "label": "Products per row",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          },
      {
            "value": "6",
            "label": "6"
          }
        ],
        "default": "5"
      }
     
  ]
  
  }
{% endschema %}


